{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="top justify-content-end text-white">
    <span> Hi, ADU</span>
</div>
<br><br><br><br><br>

<div class="profile_heading text-white">
    <h3>Profile</h3>
    <span>Home Profile</span>
</div>

<div class="profile bg-white">
<div class="profile-list ">
    <ul>
        <li href="#">Home</li>
        <li href="#">Profile</li>
        <li href="#">Settings</li>
        <li href="#">Logout</li>
    </ul>
</div>
</div>
{% endblock content %}


